<div class="wrapper">
  <div class="username">
    <label for="username">
      שם משתמש:
      <input type="text" id="password" />
    </label>
  </div>
  <div class="password">
    סיסמה:
    <label for="password">
      <input type="password" id="password" />
    </label>
  </div>
  <div class="remember-me">
    <label for="rememebrMe">
      זכור אותי:
      <input type="checkbox" id="rememebrMe">
    </label>
  </div>
  <div class="login">
    <button>
      כניסה
    </button>
  </div>

</div>
